
.section4_slider{
  margin-top: 60px;
}
.section4_slider_items{
  flex-direction: column;
  img{
    width: 208px;
    height: 208px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  p{
    width: 200px;
    padding-top: 15px;
    text-align: start;
    font-size: 20px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    span{
      font-size: 20px;
      color: rgb(250, 214, 11);
    }
    .section4_price{
      font-size: 32px;
      color: rgb(189, 67, 67);
    }
  }
}
.section4_slider_items:hover{
  p{
    border-bottom: 1px solid black;

  }
}
.section4_text{
  align-items: center;
  display: flex;
  gap: 50px;
  padding-bottom: 40px;
  margin: 0 auto;
  width: 76%;
  h1{
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  p{
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: black;
  }
}